# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# VS Code specific
.vscode/
.history/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints 
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec
